<app-header></app-header>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">{{categorias?.nome}}</h1>
      <p class="lead my-3">{{categorias?.nome}}</p>
      <button class="btn btn-primary">Home</button>
    </div>
    </div>



<!-- <div class="container">
  <div class="card">
    <img src="https://thumbs.web.sapo.io/?W=800&H=0&delay_optim=1&epic=NGFkJJp4MzrzlJlph1rBcFJhmY7qQIv6Vptom4uIhYv8lh/xEjqfb80Ly3H6a4LktyT4vdzxnRAsrkRM/XYPnJJpOaiFVZdbVvAIR7zyxjS5KHM=">
    <h4>{{pets?.raca}}</h4>
    <h5>Características do Pet</h5>
    <p>Altura: {{pets?.altura}}</p>
    <p>Peso: {{pets?.peso}}</p>
    <p>Sexo: {{pets?.sexo}}</p>
    <p>Idade: {{pets?.idade}}</p>
    <button class="btn btn-primary" [routerLink]="['/cadastroAdocao']">Adotar Pet</button>
  </div> -->
