$light-blue: #3498db;
$black: #000000;

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "open-sans", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  color: $black;
}

.container {
  width: 2000px;
  min-width: 600px;
  height: 430px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);

  .card {
    width: 330px;
    height: 430px;
    float: left;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    top: 0;
    text-align: center;
    transition: all 0.25s;

    &:nth-child(2) {
      margin: 0 50px;
    }

    &:hover {
      top: -15px;
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    h4 {
      font-weight: 600;
    }

    p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
    }

    a {
      font-weight: 500;
      text-decoration: none;
      color: $light-blue;
    }
  }
}
